:root {
    --accent-color: #8EA58C;
    --header-footer-text-color: #FFFFF0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.navbar,
.nav-link,
footer *,
#view-songs {
    background-color: var(--accent-color) !important;
    color: var(--header-footer-text-color) !important;
}

.content {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    margin-top: 56px;
}


#logo {
    width: 50%;
    max-width: 400px;
    min-width: 300px;
}

.nav-link.active {
    font-weight: bold;
}

footer * {
    font-size: 0.9em;
}

.bi.bi-github {
    font-size: 1.1em;
}


.song-header h2 {
    display: inline-block;
    margin-top: 20px;
}

.song-header i {
    font-size: 1.5em;
}

.song-header a {
    color: var(--accent-color);
    text-decoration: none !important;
}

.bi-dash {
    color: var(--accent-color);
    font-size: 0.5em;
}

#optional {
    font-size: x-small;
}

#contact-body {
    max-height: fit-content;
}

.no-scroll {
    overflow: hidden;
}

#song-lyrics {

    text-align: justify;
    display: block;
}

#view-songs {
    border: none;
    transition: opacity 0.2s ease-in-out;
}

#view-songs:hover {
    opacity: 80%;
}

span#song-submitted-by {
    align-items: end;
}