:root {
    --accent-color: #8EA58C;
    --accent-color-dark: #3D4F3B;
    --header-footer-text-color: #FFFFF0;
    --page-heading-margin-top: 20px;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

/* Use theme colors */
.navbar,
.nav-link,
footer * {
    background-color: var(--accent-color) !important;
    color: var(--header-footer-text-color) !important;
}

/*home*/
.home-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    margin-top: 56px;
}

#logo {
    width: 50%;
    max-width: 400px;
    min-width: 300px;
}

/*end home*/

/*header*/
.nav-link.active {
    font-weight: bold;
}

/*end header*/

/*footer*/
footer * {
    font-size: 0.9em;
}

.bi.bi-github {
    font-size: 1.2em;
}

#about,
#legal {
    text-decoration: none;
}

/*end footer*/

/*song*/
.song-header a {
    color: var(--accent-color);
    text-decoration: none !important;
}

.song-header h2 {
    display: inline-block;
    margin-top: var(--page-heading-margin-top);
}

.song-header i {
    font-size: 1.5em;
}

#song-lyrics {
    text-align: justify;
    display: block;
}

span#song-submitted-by {
    align-items: end;
}

/*end song*/

/*songs*/
.panel-title a {
    color: inherit;
    text-decoration: none !important;
}

.panel-title i {
    color: var(--accent-color);
    text-decoration: none !important;
    font-size: 0.7em;
    padding-left: 0.5em;
}

#panel-group>.panel:last-of-type {
    padding-bottom: 10%;
}

.list-group-item a {
    text-decoration: none;
    color: var(--accent-color-dark);
}

/*end songs*/

/*contact*/
#optional {
    font-size: x-small;
}

#form-container {
    max-height: fit-content;
}

/*end contact*/

/*about * legal*/
#about-container,
#legal-container {
    text-align: justify;
    display: block;

}

#about-container a,
#legal-container a {
    color: var(--accent-color-dark);
    font-weight: bold;
}

/*end about & legal*/

/*buttons*/
#view-songs,
#submit {
    background-color: var(--accent-color);
    border: none;
    transition: background-color 0.2s ease-in-out;
}

#view-songs:hover,
#submit:hover {
    background-color: var(--accent-color-dark);
}

/*end buttons*/

/*other*/
h2.page-title {
    margin-top: var(--page-heading-margin-top);
}

/*end other*/